$color1: red;
$color2: blue;
$color3: green;

div{
    border: 1px solid $color1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        padding-top: 25px ;
        border-bottom: 2px solid $color2;
        color: $color3;
    }
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        article:nth-child(odd){
            color: $color2;
        }
        article:nth-child(even){
            color: $color1;
        }
        article{
            border: 1px solid $color3;
            margin-bottom: 20px;
    
            p{
                font-size: medium;
                padding: 15px;
            }
        }
        
    }
}
